* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoalura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}




.texto-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
}

::placeholder {color: #0A3871;}
    .texto-area:focus {
        outline: none;
}

.aviso1{
    text-align: center;
    height: 20px;
    width: 400px;
    
}

.aviso {
    font-size: 20px;
    color: #495057;
    position: relative;
    
}

p {
    position: relative;
    font-size: 15px;
    color: #495057;
    left: 820px;
    bottom: 190px;
}

.mensagem {
    background: transparent;
    background-image: url(./imagens/lateral.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 10px;
    padding-left: 30px;
    position: relative;
    resize: none;
   
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btn-desencriptar:hover {
    background: #0A3871;
    color: #ce8d3371;
    transition: 1s;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;

} 

.btn-encriptar:hover {
    background: #579bef98;
    color: #021d24d5;
    transition: 1s;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    position: relative;
    margin-left: -380px;
    margin-bottom: -150px; 
}

.btn-copiar:hover {
    background: #579bef98;
    color: #021d24d5;
    transition: 1s;
}

.informacao {
    color: #495057;
    font-size: 18px;
    position: relative ;
    top: 30px;
}

h6 {
    font-size: 15px;
    display: block;
    
}

